<html>
  <head>
    <title><%- userData.username %>'s Profile - Connective</title>
    <style>
      .title { font-size:18pt; display: block; }
      .header { font-weight: bold; }
      .className { cursor: pointer; color: #0088ee; }
      .classDesc { position:relative; display: none; padding:4px; border:1px solid #555555; background-color:#ddeeee; }
      .profileLeft { float:left; width:20%; }
      .profileMid { float:left; width:60%; }
      .delete { cursor:pointer; position:relative; top:1px; }
      #addClass { cursor:pointer; color:#0088ee; font-weight:bold;}
      #newClassArea { width:0px; overflow:hidden; display:inline-block; }
      #newClassForm { display:inline; }
      #newClass { width:200px; }
			#myClassList, #myClassList li { width:100%; }
      .ui-autocomplete, .ui-menu-item {
        font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
        font-size: 62.5%;
      } 
			.courseInfo {
			  font-style: italic;
				font-weight:bold;
				font-size:10pt;
			}
      .editButton {
        background:url(http://battleofthebits.org/data/icons/pencil.png);
        width:16px;
        height:16px;
        position:absolute;
        right:2px;
				cursor:pointer;
      }
			.descriptionBox {
			  display:inline;
			}
      .star {
        width: 16px;
        height: 16px;
        display:inline-block;
        background-image:url(images/stars.png);
        cursor:pointer;
      }
      .fullStar {
        background-position:0px 0px;
      }
      .halfStar {
        background-position:-16px 0px;
      }
      .noStar {
        background-position:-32px 0px;
      }
      .thanksRate { display: none; }
    </style>

    <!-- jQueryUI styles for autocomplete use -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

    <!-- jQuery, jQuery UI (for Autocomplete), and profile-specific scripts -->
    <script src="js/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="./js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
    <script type="text/javascript">thisUser="<%- userData.username %>";</script>
    <script src="js/profileScripts.js" type="text/javascript"></script>
    
  </head>
  <body>
    <span class="title"><%- userData.username %></span><br />
    <div class="profileLeft">
        <span id="rating">
      <% var ratingFrac=userData.rating-Math.floor(userData.rating);
      for (i=1; i<=5; i++) {
      %><span data-num='<%- i -%>' class='star<% if (i<=Math.floor(userData.rating)) { %> fullStar <% }
        else if (i<=Math.floor(userData.rating+1) && ratingFrac>0) { %> halfStar<% } else { %> noStar<% } %>'></span>
      <% } %>
      </span><span class="thanksRate">Thank you!</span><br />
    
      <span class="header">Courses</span><br />
      <% if (userData.classesAndDescriptions.length>0) { %>
      <ul id="myClassList">
        <% for (var i=0; i<userData.classesAndDescriptions.length; ++i) { %>
        <li><span class="className" data-id="<%- i %>"><%= userData.classesAndDescriptions[i].className %></span> &nbsp; <%
          if (isMe) {
        %><span class="delete" data-id="<%- i %>"><img src="images/deleteIcon.png" /></span><% } %>
        <div class="classDesc" id="classData<%- i %>"><span class='editButton' data-id="<%- i -%>">&nbsp;</span><span class='courseInfo'><%= userData.classesAndDescriptions[i].code %> - <%= userData.classesAndDescriptions[i].semester %></span><br/ >
				<div id="description<%- i -%>" class='descriptionBox'><%= userData.classesAndDescriptions[i].description %></div></div>
        <% } %></li>
        <li>
          <div id="newClassArea">
            <form id="newClassForm" onsubmit="AddClass(); return false">
              <input type="text" id="newClass" />
            </form>
          </div>
          <span id="addClass">Add Course</span>
        </li>
      </ul>
      <% } else { %>
			<ul id="myClassList">
				<li>
					<div id="newClassArea">
						<form id="newClassForm" onsubmit="AddClass(); return false">
							<input type="text" id="newClass" />
						</form>
					</div>
					<span id="addClass">Add Course</span>
				</li>
			</ul>
      <% } %>
    </div>
    
    <div class="profileMid">
    </div>
    
  </body>
</html>
